.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  border-bottom: 1px solid #000;
}

.logo {
  width: 100px;
}

.nav-items > ul {
  display: flex;
}

.nav-items > ul > a {
  font-size: 15px;
  padding: 10px;
  list-style: none;
  color: black;
}
.nav-items > ul > a:hover {
  color: brown;
  cursor: pointer;
}

.login-btn {
  margin-right: 10px;
  cursor: pointer;
}
